<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png?v=561171d595cf4fcd62742e1ede90bb71bf2a6ffb">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=561171d595cf4fcd62742e1ede90bb71bf2a6ffb">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=561171d595cf4fcd62742e1ede90bb71bf2a6ffb">
<link rel="manifest" href="/site.webmanifest?v=561171d595cf4fcd62742e1ede90bb71bf2a6ffb">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=561171d595cf4fcd62742e1ede90bb71bf2a6ffb" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=561171d595cf4fcd62742e1ede90bb71bf2a6ffb">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">